@{
    ViewData["Title"] = "BlogListToExcel";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h2>Tải Blog dưới dạng Excel</h2>
<button class="btn btn-primary" onclick="GetBlogsAsExcel()">Tải Blog</button>
<br />
<h2>Tải Người dùng dưới dạng Excel</h2>
<button class="btn btn-secondary" onclick="GetUsersAsExcel()">Tải Người dùng</button>
<br />
<h2>Tải Nhận xét dưới dạng Excel</h2>
<button class="btn btn-info" onclick="GetCommentsAsExcel()">Tải Nhận xét</button>

<script>
    function GetBlogsAsExcel() {
        window.open("/Admin/Excel/ExportDynamicBlogToExcel")
    }

    function GetUsersAsExcel() {
        window.open("/Admin/Excel/ExportDynamicUserToExcel")
    }

    function GetCommentsAsExcel() {
        window.open("/Admin/Excel/ExportDynamicCommentToExcel")
    }
</script>
