<li>
    <a href="mailbox.html"><i class="fa fa-envelope"></i> <span class="nav-label">Tin Nhắn</span><span class="label label-warning float-right">@ViewBag.result</span></a>
    <ul class="nav nav-second-level collapse">
        <li><a href="/Admin/Message/Inbox/">Hộp Thư Đến</a></li>
        <li><a href="/Admin/Message/SendBox/">Hộp Thư Gửi</a></li>
        <li><a href="/Admin/Message/SendMessage/">Gửi Tin Nhắn</a></li>
    </ul>
</li>
