<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h2>Panel Điều Khiển</h2>
                <h3 class="font-bold">
                    Chi Tiết
                </h3>
                <small style="margin-top: 4px">Từ bảng điều khiển chi tiết này, bạn có thể thực hiện các thao tác cần thiết với quyền admin. Tại đây, bạn có thể xem tổng số blog, tổng số danh mục, tổng số tin nhắn và bài viết mới nhất. Từ bảng điều khiển chi tiết này, bạn có thể thực hiện các thao tác cần thiết với quyền admin. Tại đây, bạn có thể xem tổng số blog, tổng số danh mục, tổng số tin nhắn và bài viết mới nhất. Từ bảng điều khiển chi tiết này, bạn có thể thực hiện các thao tác cần thiết với quyền admin. Tại đây, bạn có thể xem tổng số blog, tổng số danh mục, tổng số tin nhắn và bài viết mới nhất.</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">
                <h2>Hoạt Động Gần Đây</h2>
                <h3 class="font-bold">
                    Blog Mới Nhất
                </h3>
                <small style="margin-top: 4px">@ViewBag.lastBlog</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget yellow-bg no-padding">
            <div class="p-m">
                <h2>$ 50,992</h2>
                <h3 class="font-bold">
                    Doanh Thu
                </h3>
                <small style="margin-top: 4px">(Quảng cáo sản phẩm - Khuyến mãi - Hợp đồng quảng cáo)</small>
                <br />
                <br />
                <br />
                <br />
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart3"></div>
            </div>
        </div>
    </div>
</div>
