@{
    ViewData["Title"] = "Trang Chủ";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<section style="margin-top:10px" class="custom-hero-section d-flex justify-content-center align-items-center">
    <video class="video-background" autoplay loop muted playsinline>
        <source src="~/slider/images/star.mp4" type="video/mp4">
        Trình duyệt của bạn không hỗ trợ phát video.
    </video>

    <div class="overlay"></div>

    <div class="content container">
        <div class="row">
            <div class="col-lg-12 col-12 mb-5 mb-lg-0">
                <h1 class="custom-cd-headline rotate-1 text-white mb-4 pb-2">
                    <span class="custom-cd-words-wrapper">
                        <b class="is-visible">PureBlog'a</b>
                        <h2 class="text-white">Chào mừng</h2>
                    </span>
                </h1>
            </div>
        </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#ffffff" fill-opacity="1" d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path>
    </svg>
</section>

<section class="custom-about-section custom-section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12 text-center">
                <h2 class="mb-lg-5 mb-4">Có gì bên trong?</h2>
            </div>
            <div class="col-lg-12 col-12 me-auto mb-4 mb-lg-0 text-center">
                <p><strong>PureBlog</strong>, là cánh cửa mở ra thế giới của một người đam mê viết lách. Trên nền tảng này, bạn sẽ khám phá những bài viết độc đáo từ những tác giả có suy nghĩ sâu sắc, tập trung vào những nội dung tinh khiết. Một trải nghiệm blog tràn đầy tri thức và chân thành đang chờ đón bạn trong mỗi câu chữ.</p>
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</section>

<section class="custom-section-bg-image">
    <svg viewBox="0 0 1265 144" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path fill="rgba(255, 255, 255, 1)" d="M0,40C164,40,164,20,328,20L328,20L328,0L0,0Z" stroke-width="0"></path>
        <path fill="rgba(255, 255, 255, 1)" d="M327,20C445.5,20,445.5,89,564,89L564,89L564,0L327,0Z" stroke-width="0"></path>
        <path fill="rgba(255, 255, 255, 1)" d="M563,89C724.5,89,724.5,48,886,48L886,48L886,0L563,0Z" stroke-width="0"></path>
        <path fill="rgba(255, 255, 255, 1)" d="M885,48C1006.5,48,1006.5,67,1128,67L1128,67L1128,0L885,0Z" stroke-width="0"></path>
        <path fill="rgba(255, 255, 255, 1)" d="M1127,67C1196,67,1196,0,1265,0L1265,0L1265,0L1127,0Z" stroke-width="0"></path>
    </svg>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="custom-section-bg-image-block">
                    <h2 class="mb-lg-3">Nội Dung Độc Đáo</h2>
                    <p>Bạn có thể muốn xem qua những nội dung độc đáo này.</p>
                </div>
            </div>
        </div>
    </div>

    <svg viewBox="0 0 1265 144" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path fill="rgba(255, 255, 255, 1)" d="M0,40C164,40,164,20,328,20L328,20L328,0L0,0Z" stroke-width="0"></path>
        <path fill="rgba(255, 255, 255, 1)" d="M327,20C445.5,20,445.5,89,564,89L564,89L564,0L327,0Z" stroke-width="0"></path>
        <path fill="rgba(255, 255, 255, 1)" d="M563,89C724.5,89,724.5,48,886,48L886,48L886,0L563,0Z" stroke-width="0"></path>
        <path fill="rgba(255, 255, 255, 1)" d="M885,48C1006.5,48,1006.5,67,1128,67L1128,67L1128,0L885,0Z" stroke-width="0"></path>
        <path fill="rgba(255, 255, 255, 1)" d="M1127,67C1196,67,1196,0,1265,0L1265,0L1265,0L1127,0Z" stroke-width="0"></path>
    </svg>
</section>

<section class="custom-about-section custom-section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12 text-center">
                <h2 class="mb-lg-5 mb-4">Thành viên có tốn phí không?</h2>
            </div>
            <div class="col-lg-12 col-12 me-auto mb-4 mb-lg-0 text-center">
                <p><strong>Không</strong>, bạn có thể đăng ký thoải mái và thưởng thức nội dung không giới hạn. PureBlog sẽ không yêu cầu bạn bất kỳ khoản phí nào.</p>
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</section>

<section class="custom-events-section section-bg custom-section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12 text-center mx-auto mb-lg-5 mb-4">
                <h2>Hệ Thống Thành Viên</h2>
            </div>
            <div class="col-lg-12 col-12 mb-3 mb-lg-0">
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th style="width: 34%;">Loại Thành Viên</th>
                                <th style="width: 22%;">Bình Luận</th>
                                <th style="width: 22%;">Thêm Blog</th>
                                <th style="width: 22%;">Quản Trị Chung</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" class="text-start">-</th>
                                <td><i class="bi-check-circle-fill"></i></td>
                                <td><i class="bi-x-circle-fill"></i></td>
                                <td><i class="bi-x-circle-fill"></i></td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-start">Tác Giả</th>
                                <td><i class="bi-check-circle-fill"></i></td>
                                <td><i class="bi-check-circle-fill"></i></td>
                                <td><i class="bi-x-circle-fill"></i></td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-start">Quản Trị</th>
                                <td><i class="bi-check-circle-fill"></i></td>
                                <td><i class="bi-check-circle-fill"></i></td>
                                <td><i class="bi-check-circle-fill"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
