@model EntityLayer.Concrete.Category

@{
    ViewData["Title"] = "Add Category";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}


<h1>Thêm Danh Mục</h1>
<br />

@using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
{
    <h4>Tên Danh Mục</h4>
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryName, "", new { @class = "text-danger" })
    <br />
    <h4>Mô Tả Danh Mục</h4>
    @Html.TextAreaFor(x => x.CategoryDescription, 10, 3, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryDescription, "", new { @class = "text-danger" })
    <br />
    <div class="d-flex justify-content-center"><button class="btn btn-primary" style="width: 220px">THÊM</button></div>
}
