@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div style="padding:20px">
    <h1 class="text-danger">Error</h1>
    <h2 class="text-danger">Đã xảy ra lỗi trong khi xử lý yêu cầu của bạn.</h2>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>İstek ID:</strong> <code>@Model.RequestId</code>
        </p>
    }

    <h3>Chế độ phát triển</h3>
    <p>
        Şu moda dönmek <strong>Geliştirme</strong> Nó cung cấp cơ hội để xem lỗi chi tiết hơn.
    </p>
    <p>
        <strong>Môi trường phát triển phải được đóng đối với các ứng dụng được xuất bản.</strong>
        <strong>Phát triển</strong> môi trường có thể được thiết lập từ <strong>ASPNETCORE_ENVIRONMENT</strong> đặt tên môi trường thành <strong>Phát triển</strong>
        và khởi động lại.
    </p>
</div>
